.body {
    background-color: #ffffffff;

}

.navbar {
    background-color: #ffffffff;
}

.container {
    text-color: #ffffff;
}

.reset-link-color {
  color: #000000ff; /* Ganti dengan warna yang Anda inginkan */
  text-decoration: none; /* Hilangkan garis bawah */
}

.reset-link-color:hover {
    color: #7bcf04ff; /* Warna saat dihover */
}
.h1 {
    color: #000000ff;
    font-size: 60px;
    font-family: Bricolage-Grotesque, sans-serif;
}

//Footer
.text-body-secondary
Specificity: (0,1,0)
 {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
}

.text-decoration-none {
    text-decoration: none !important;
}
.mb-2 {
    margin-bottom: .5rem !important;
}
.align-items-center {
    align-items: center !important;
}
.d-inline-flex {
    display: inline-flex !important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
// end footer