.body {
    background-color: #471396;

}

.navbar {
    background-color: #090040;
}

.container {
    text-color: #ffffff;
}

.reset-link-color {
  color: #94B4C1; /* Ganti dengan warna yang Anda inginkan */
  text-decoration: none; /* Hilangkan garis bawah */
}

.reset-link-color:hover {
    color: #B13BFF; /* Warna saat dihover */
}
.h1 {
    color: #94B4C1;
    font-size: 70px;
    font-family: Bricolage-Grotesque, sans-serif;
}